<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  {% for attributes in metadata %}
  <meta {{ attributes }} />
  {% endfor %}
  <title>{{ title }}</title>
  <base href="{{ base }}" />
  {% if preloader_status %}
  <style>
    /* Style of page loader spinner */
    .preloader-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7rem;
      height: 7rem;
      display: none;
    }

    .preloader-spinner::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("{{ spinner_url }}");
    }

    .preloader-spinner.active {
      display: block;
    }

    .preloader-spinner.active~* {
      visibility: hidden;
      overflow: hidden;
    }
  </style>
  {% endif %}
  {#<link href="catalog/view/javascript/maza/javascript/outdatedbrowser/outdatedbrowser.min.css" type="text/css" rel="stylesheet" />#}

  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}

  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  <link rel="stylesheet" href="/catalog/view/theme/mz_poco/stylesheet/css/customHeader.css">
  <link rel="stylesheet" href="/catalog/view/theme/mz_poco/stylesheet/css/customSlider.css">
  
  {% if mz_cdn %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% else %}
  <script src="catalog/view/javascript/maza/javascript/jquery/jquery-3.4.1.min.js"></script>
  {% endif %}

  {% for script in scripts %}
  <script src="{{ script }}" defer></script>
  {% endfor %}
  <script src="/catalog/view/javascript/customHeader.js" charset="utf-8" type="text/javascript" defer></script>

  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

  <!--Custom code between head tag-->
  {% if code_in_head_tag %}
  {{ code_in_head_tag }}
  {% endif %}

</head>

<body class="{{ page_class }}" {% if preloader_status %}onload="finishPreloader()" {% endif %}>
  {% if preloader_status %}
  <div id="page-preloader" class="preloader-spinner active"></div>
  {% endif %}
  <div class="mz-pure-container">
    {% if header_component %}{{ include(template_from_string(header_component)) }}{% endif %}
    {{ page_component }}
    <div class="mz-pure-overlay"></div>
    <div id="container" class="mz-pure-pusher-container">
      <header class="customHeader customHeader__desktop">
        {% if top_header %}
        <div id="top-header">{{ include(template_from_string(top_header)) }}</div>
        {% endif %}

        <div class="customHeader__menu customHeader__menu_1">
          <div class="menu__logo">
            <a href="{{ base }}"><img src="{{ logo }}" alt="Купить мебель в Краснодаре"></a>
          </div>
          <nav class="menu__links">
            {% for i1, category1 in categoryTree %}
            {% set i1 = i1+1 %}
            <a href="{{ category1['href'] }}" {% if category1['children'] != null %} data-submenu-id="2_{{ i1 }}" {% endif %} class="links__link menu1__link{% if i1 == 1 %} menu1__link_active{% endif %}">{{ category1['name'] }}</a>
              {% if i1 == 1 %}
                <a href="#" data-submenu-id="2_8" class="links__link menu1__link">Комнаты</a>
              {% endif %}
            {% endfor %}

            <!-- Статичные ссылки 1 уровень (на компьютере) -->
            <a href="#" data-submenu-id="2_9" class="links__link menu1__link">Идеи и тренды</a>
            <a href="#" data-submenu-id="2_0" class="links__link menu1__link">О компании</a>
          </nav>
          {{ search }}
          <div class="menu__phone">
            <div class="phone__row">
              <svg class="phone__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 235.129 235.129" style="enable-background:new 0 0 235.129 235.129;" xml:space="preserve">
                <path d="M212.027,84.433l-3.954,0.003c-10.912-40.466-48.044-69.228-90.549-69.228c-42.253,0-79.347,28.769-90.44,69.236
                l-3.987-0.003C10.361,84.441,0,94.802,0,107.538v25.941c0,12.734,10.361,23.094,23.097,23.094h2.874
                c3.697,29.087,28.603,51.648,58.681,51.648h5.515c2.926,6.87,9.744,11.699,17.669,11.699h19.455
                c10.585,0,19.197-8.611,19.197-19.195c0-10.586-8.612-19.199-19.197-19.199h-19.455c-7.923,0-14.739,4.828-17.666,11.695h-5.519
                c-24.347,0-44.154-19.805-44.154-44.148V92.785c7.758-36.299,40.035-62.576,77.027-62.576c37.237,0,69.551,26.267,77.108,62.548
                v56.31c0,4.142,3.358,7.5,7.5,7.5h9.9c12.735,0,23.096-10.36,23.096-23.095V107.53C235.129,94.795,224.768,84.433,212.027,84.433z
                M107.836,196.526h19.455c2.314,0,4.197,1.884,4.197,4.199c0,2.314-1.883,4.195-4.197,4.195h-19.455
                c-2.313,0-4.195-1.882-4.195-4.195C103.641,198.41,105.522,196.526,107.836,196.526z M15,133.479v-25.941
                c0-4.464,3.632-8.097,8.09-8.097l2.407,0.002v42.129h-2.4C18.632,141.573,15,137.942,15,133.479z M220.129,133.471
                c0,4.463-3.632,8.095-8.096,8.095h-2.4V99.435l2.4-0.002c4.464,0,8.096,3.632,8.096,8.097V133.471z"></path>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
              <span class="phone__note">Звоните</span>
            </div>
            <div class="phone__row">
              <a href="tel:{{ telephone }}" class="phone__link">{{ telephone }}</a>
            </div>
          </div>
          <nav class="menu__buttons">
            <a href="{{ wishlist }}" class="buttons__button" title="Избранное">
              <svg class="icon" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.1462 7C6.67925 7 4.5 10.1959 4.5 12.7732C4.5 18.4433 10.6415 23.201 15 26.5C19.3585 23.201 25.5 18.4433 25.5 12.7732C25.5 10.1959 23.3208 7 19.8538 7C17.8726 7 16.1887 8.64952 15 10.1959C13.7123 8.64952 12.1274 7 10.1462 7Z">
                </path>
              </svg>
              <!--<span class="button__total">0</span>-->
            </a>
            {{ cart }}
          </nav>
        </div>
        <div class="customHeader__menu customHeader__menu_2">
          {% for i1, category1 in categoryTree %}
          {% set i1 = i1+1 %}
          {% if category1['children'] != null %}
          <nav data-submenu="2_{{ i1 }}" class="menu__links js-submenu{% if i1 != 1 %} h-hide{% endif %}">
            {% for i2, category2 in category1['children'] %}
            {% set i2 = i2+1 %}
            <a href="{{ category2['href'] }}" {% if category2['children'] != null %} data-submenu-id="3_{{ i1 }}_{{ i2 }}" {% endif %} class="links__link menu2__link">{{ category2['name'] }}</a>
            {% endfor %}
          </nav>
          {% endif %}
          {% endfor %}

          <!-- Статичные ссылки 2 уровень (на компьютере) -->
          <!-- Комнаты -->
          <nav data-submenu="2_8" class="menu__links js-submenu h-hide">
            <a href="/index.php?route=product/category&path=88_64" class="links__link menu2__link">Спальные гарнитуры</a>
            <a href="/index.php?route=product/category&path=88_79" class="links__link menu2__link">Прихожие</a>
            <a href="/index.php?route=product/category&path=88_105" class="links__link menu2__link">Гостиная</a>
            <a href="/index.php?route=product/category&path=88_107" class="links__link menu2__link">Кухня</a>
            <a href="/index.php?route=product/category&path=88_108" class="links__link menu2__link">Детская</a>
            <a href="/index.php?route=product/category&path=88_109" class="links__link menu2__link">Студия</a>
          </nav>
          <!-- Магазины -->
          <nav data-submenu="2_9" class="menu__links js-submenu h-hide">
            <a href="/dizajn-proekty" class="links__link menu2__link">Дизайн-проекты</a>
            <a href="/polezno-znat" class="links__link menu2__link">Полезно знать</a>
            <a href="/interjer-i-dekor" class="links__link menu2__link">Интерьер и декор</a>
            <a href="/mebel-v-detalyah" class="links__link menu2__link">Мебель в деталях</a>
          </nav>
          <!-- О компании -->
          <nav data-submenu="2_0" class="menu__links js-submenu h-hide">
            <a href="/index.php?route=product/special" class="links__link menu2__link">Акции</a>
            <a href="/index.php?route=extension/maza/blog/home" class="links__link menu2__link">Блог</a>
            <a href="/index.php?route=information/information&information_id=4" class="links__link menu2__link">О нас</a>
            <a href="/index.php?route=product/manufacturer" class="links__link menu2__link">Производители</a>
            <a href="/index.php?route=extension/maza/testimonial" class="links__link menu2__link">Рекомендации</a>
			<a href="/index.php?route=information/contact" class="links__link menu2__link">Контакты</a>
          </nav>
        </div>
        {% for i1, category1 in categoryTree %}
        {% set i1 = i1+1 %}
        {% if category1['children'] != null %}
        {% for i2, category2 in category1['children'] %}
        {% set i2 = i2+1 %}
        <div data-submenu="3_{{ i1 }}_{{ i2 }}" class="customHeader__menu customHeader__menu_3 js-submenu h-hide">
          <nav class="menu__links links__columns">
            {% if category2['children'] != null %}
            {% for i3, category3 in category2['children'] %}
            {% set i3 = i3+1 %}
            <ul class="links__column">
              <li class="column__row column__row_title">
                <a href="{{ category3['href'] }}" class="row__link row__link_title">{{ category3['name'] }}</a>
              </li>
              {% if category3['children'] != null %}
              {% for i4, category4 in category3['children'] %}
              {% set i4 = i4+1 %}
              <li class="column__row">
                <a href="{{ category4['href'] }}" class="row__link row__link_item">{{ category4['name'] }}</a>
              </li>
              {% endfor %}
              {% endif %}
              <!--
              <li class="column__row column__row_bottom">
                <a href="#" class="row__link row__link_bottom">Все акции</a>
              </li>
            -->
            </ul>
            {% endfor %}
            {% endif %}
          </nav>
          {% if (category2['bannerData'] != null) %}
          <div class="menu__banner">
            <a class="banner" href="{{ category2['bannerData']['link'] }}">
              <img class="banner__image" src="http://adnox.site/image/{{ category2['bannerData']['image'] }}" alt="{{ category2['bannerData']['title'] }}">
              <div class="banner__body">
                <div class="body__title">{{ category2['bannerData']['title'] }}</div>
                <div class="body__content">{{ category2['bannerData']['content'] }}</div>
                <div class="body__link">{{ category2['bannerData']['link_text'] }}</div>
              </div>
            </a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
      </header>

      <header class="customHeader customHeader__mobile">
        {% if top_header %}
        <div id="top-header">{{ include(template_from_string(top_header)) }}</div>
        {% endif %}

        <div class="customHeader__menu mobile__top">
          <div class="menu__buttons">
            <button class="buttons__button" onclick="showMobileMenu()">
              <svg width="20" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 17.5H0M20 9.5H0M20 1.5H0" stroke="#000" stroke-miterlimit="10" />
              </svg>
            </button>
            <button class="buttons__button search__button" onclick="showMobileSearch()">
              <svg width="21" height="21" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                <line x1="18.6963" y1="17.9697" x2="25.6963" y2="24.9697" stroke-width="2" stroke="currentColor"></line>
                <circle cx="12.834" cy="12.5" r="8" stroke-width="2" stroke="currentColor" fill="transparent"></circle>
              </svg>
            </button>
          </div>
          <div class="menu__logo">
            <a href="{{ base }}"><img src="{{ logo }}" alt="Купить мебель в Краснодаре"></a>
          </div>
          <div class="menu__buttons">
            <a href="{{ wishlist }}" class="buttons__button" title="Избранное">
              <svg class="icon" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.1462 7C6.67925 7 4.5 10.1959 4.5 12.7732C4.5 18.4433 10.6415 23.201 15 26.5C19.3585 23.201 25.5 18.4433 25.5 12.7732C25.5 10.1959 23.3208 7 19.8538 7C17.8726 7 16.1887 8.64952 15 10.1959C13.7123 8.64952 12.1274 7 10.1462 7Z">
                </path>
              </svg>
              <!--<span class="button__total">0</span>-->
            </a>
            {{ cart }}
          </div>
        </div>
        <div class="mobile__body h-hide">
          <div class="body__wrap" style="max-width: 0; padding: 0">
            <div class="body__top">
              <form class="body__search">
                <button class="search__button">
                  <svg width="21" height="21" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                    <line x1="18.6963" y1="17.9697" x2="25.6963" y2="24.9697" stroke-width="2" stroke="currentColor"></line>
                    <circle cx="12.834" cy="12.5" r="8" stroke-width="2" stroke="currentColor" fill="transparent"></circle>
                  </svg>
                </button>
                <input type="text" name="search" class="search__input" placeholder="Найти мебель">
              </form>
              <button class="buttons__button body__close" onclick="hideMobileMenu()">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.00045 24L24 0.999999M23.9995 24L0.999999 1" stroke="#000000" stroke-miterlimit="10"></path>
                </svg>
              </button>
            </div>
            <div class="body__menu body__menu_1">
              <nav class="menu__links menu__links_menu1">
                {% for i1, category1 in categoryTree %}
                {% set i1 = i1+1 %}
                <a href="#" {% if category1['children'] != null %} data-submenu-id="2_{{ i1 }}" {% endif %} class="links__link menu1__link{% if i1 == 1 %} menu1__link_active{% endif %}">{{ category1['name'] }}</a>
                  {% if i1 == 1 %}
                    <a href="#" data-submenu-id="2_8" class="links__link menu1__link">Комнаты</a>
                  {% endif %}
                {% endfor %}

                <!-- Статичные ссылки 1 уровень (на мобильном) -->
                <a href="#" data-submenu-id="2_9" class="links__link menu1__link">Идеи и тренды</a>
                <a href="#" data-submenu-id="2_0" class="links__link menu1__link">О компании</a>
              </nav>
            </div>
            <div class="body__menu body__menu_2">
              {% for i1, category1 in categoryTree %}
              {% set i1 = i1+1 %}
              {% if category1['children'] != null %}
              <nav data-submenu="2_{{ i1 }}" class="menu__links menu__links_menu2 js-submenu{% if i1 != 1 %} h-hide{% endif %}">
                {% for i2, category2 in category1['children'] %}
                {% set i2 = i2+1 %}
                <div class="links__row">
                  <div class="row__icon" style="background-image: url('/catalog/view/theme/mz_poco/image/category-icon.svg');"></div>
                  <a href="#" {% if category2['children'] != null %} data-submenu-id="3_{{ i1 }}_{{ i2 }}" {% endif %} class="row__link row__link_withSubmenu">{{ category2['name'] }}</a>
                </div>
                {% endfor %}
              </nav>
              {% endif %}
              {% endfor %}

              <!-- Статичные ссылки 2 уровень (на мобильном) -->
              <!-- Комнаты -->
              <nav data-submenu="2_8" class="menu__links menu__links_menu2 js-submenu h-hide">
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_64" class="row__link row__link_withSubmenu">Спальные гарнитуры</a>
                </div>
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_79" class="row__link row__link_withSubmenu">Прихожие</a>
                </div>
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_105" class="row__link row__link_withSubmenu">Гостиная</a>
                </div>
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_107" class="row__link row__link_withSubmenu">Кухня</a>
                </div>
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_108" class="row__link row__link_withSubmenu">Детская</a>
                </div>
                <div class="links__row">
                  <a href="/index.php?route=product/category&path=88_109" class="row__link row__link_withSubmenu">Студия</a>
                </div>
              </nav>
              <!-- Магазины -->
              <nav data-submenu="2_9" class="menu__links menu__links_menu2 js-submenu h-hide">
                <div class="links__row">
                  <a href="/dizajn-proekty" class="row__link row__link_withSubmenu">Дизайн-проекты</a>
                </div>

                <div class="links__row">
                  <a href="/polezno-znat" class="row__link row__link_withSubmenu">Полезно знать</a>
                </div>

                <div class="links__row">
                  <a href="/interjer-i-dekor" class="row__link row__link_withSubmenu">Интерьер и декор</a>
                </div>

                <div class="links__row">
                  <a href="/mebel-v-detalyah" class="row__link row__link_withSubmenu">Мебель в деталях</a>
                </div>
              </nav>
              <!-- О компании -->
              <nav data-submenu="2_0" class="menu__links menu__links_menu2 js-submenu h-hide">
                <div class="links__row">
                  <a href="/index.php?route=product/special" class="row__link row__link_withSubmenu">Акции</a>
                </div>

                <div class="links__row">
                  <a href="/index.php?route=extension/maza/blog/home" class="row__link row__link_withSubmenu">Блог</a>
                </div>

                <div class="links__row">
                  <a href="/index.php?route=information/information&information_id=4" class="row__link row__link_withSubmenu">О нас</a>
                </div>

                <div class="links__row">
                  <a href="/index.php?route=product/manufacturer" class="row__link row__link_withSubmenu">Производители</a>
                </div>

                <div class="links__row">
                  <a href="/index.php?route=extension/maza/testimonial" class="row__link row__link_withSubmenu">Рекомендации</a>
                </div>
              </nav>
            </div>
            {% for i1, category1 in categoryTree %}
            {% set i1 = i1+1 %}
            {% if category1['children'] != null %}
            {% for i2, category2 in category1['children'] %}
            {% set i2 = i2+1 %}
            <div data-submenu="3_{{ i1 }}_{{ i2 }}" class="body__menu body__menu_3 h-hide">
              <div class="body__top body__top_menu3" style="background-image: url('/catalog/view/theme/mz_poco/image/banner-1.jpg');">
                <div class="top__buttons">
                  <button class="buttons__button body__prev">Назад</button>
                  <button class="buttons__button body__close" onclick="hideMobileMenu()">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.00045 24L24 0.999999M23.9995 24L0.999999 1" stroke="#ffffff" stroke-miterlimit="10"></path>
                    </svg>
                  </button>
                </div>
                <div class="top__title">{{ category2['name'] }}</div>
              </div>
              <div class="body__main">
                {% if category2['children'] != null %}
                {% for i3, category3 in category2['children'] %}
                {% set i3 = i3+1 %}
                <nav class="menu__links menu__links_menu3 js-submenu">
                  <div class="links__row">
                    <a href="{{ category3['href'] }}" class="row__link row__link_title">{{ category3['name'] }}</a>
                  </div>
                  {% if category3['children'] != null %}
                  {% for i4, category4 in category3['children'] %}
                  {% set i4 = i4+1 %}
                  <div class="links__row">
                    <a href="{{ category4['href'] }}" class="row__link">{{ category4['name'] }}</a>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <!--
                  <div class="links__row">
                    <a href="#" class="row__link row__link_bottom">Конструктор диванов</a>
                  </div>
                  -->
                </nav>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}

            <div class="body__menu body__menu_footer">
              <nav class="menu__links menu__links_footer">
                <div class="links__row">
                  <div class="row__icon" style="background-image: url('/catalog/view/theme/mz_poco/image/category-icon.svg');"></div>
                  <a href="#" class="row__link row__link_withSubmenu">Войти/зарегистрироваться</a>
                </div>
                <div class="links__row">
                  <div class="row__icon" style="background-image: url('/catalog/view/theme/mz_poco/image/category-icon.svg');"></div>
                  <a href="#" class="row__link row__link_withSubmenu">Адреса магазинов</a>
                </div>
                <div class="links__row">
                  <div class="row__icon" style="background-image: url('/catalog/view/theme/mz_poco/image/category-icon.svg');"></div>
                  <a href="#" class="row__link row__link_withSubmenu">Доставка и оплата</a>
                </div>
                <div class="links__row">
                  <div class="row__icon" style="background-image: url('/catalog/view/theme/mz_poco/image/category-icon.svg');"></div>
                  <a href="#" class="row__link row__link_withSubmenu">Краснодар</a>
                </div>
              </nav>
            </div>
          </div>
          <div class="body__blackout" onclick="hideMobileMenu()"></div>
        </div>
      </header>
